
.tiptap {
  box-sizing: border-box;
  padding: 1rem;
}

.tiptap blockquote {
  border-left: 3px solid rgba(13, 13, 13, 0.1);
  padding-left: 1rem;
}

 table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  max-width: 600px;
}

 td,
 th {
  min-width: 1em;
  border: 2px solid #ced4da;
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

 th {
  font-weight: bold;
  text-align: left;
  background-color: #f1f3f5;
}

 .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}

 .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: -2px;
  width: 4px;
  background-color: #adf;
  pointer-events: none;
}

 p {
  margin: 0;
}

  .tableWrapper {
    overflow-x: auto;
    margin: 0.9em auto;
    display: table;
  }

  .ex-toolbar-editor , .ex-toolbar-items {
    display: flex;
    background-color: #fff;
  }

  .ex-toolbar-editor {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #ccced1;
    padding: 0 calc(0.6em * 0.5);
  }

  .ex-toolbar-items {
    align-items: center;
  }

  .tiptap-widget:hover {
    outline-color: #ffc83d;
  }

  .ex-selected {
    outline-color: hsl(218,81.8%,56.9%)!important;
  }

  .tiptap-widget {
    position: relative;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 3px;
    transition: outline-color 200ms ease;
  }

  .ex-toolbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(0.6em * 0.3);
    margin-top: calc(0.6em * 0.5);
    margin-bottom: calc(0.6em * 0.5);
    margin-right: calc(0.6em * 0.5);
    background: transparent;
    transition: box-shadow .2s ease-in-out,border .2s;
    border: 1px solid transparent;
    border-radius: 5px;
  }

  .ex-mr-0 {
    margin-right: 0px;
  }

  .ex-button-active {
    color: hsl(218,81.8%,56.9%);;
    background-color: #cae1fc;
  }

  .ex-hidden {
    display: none!important;
  }

  .ex-toolbar-button:hover {
    background: #f0f0f0;
  }

  .ex-toolbar-button svg {
    width: 20px;
    height: 20px;
  }

  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  .editor-shell {
    margin: 20px auto;
    border-radius: 2px;
    max-width: 1100px;
    color: #000;
    position: relative;
    line-height: 1.7;
    font-weight: 400;
  }

  .editor-scroller {
    height: 200px;
    border: 0;
    position: relative;
    outline: 0;
    z-index: 0;
    overflow-y: auto;
    resize: vertical;
    border: 1px solid #ccced1;
    border-top: 0px;
    padding: calc(2 * calc(0.6em * 1.5));
    background: #fafafa;;
  }

  .editor-shell {
    background: #fff;
    position: relative;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
  }

  .editor-main {
    background: #fff;
    border-color: #ccced1;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
  }

  .ProseMirror {
    flex: 1;
    padding: 1cm 1cm 1cm;
  }
  .ex-dropdown-container {
    position: relative;
  }
  .ex-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
    padding: 10px;
    z-index: 1;
  }

  .ex-dropdown-content {
    display: flex;
   flex-wrap: wrap;
  }

  .ex-dropdownList-content {
    display: flex;
    flex-wrap: nowrap;
  }


  .ex-dropdown-table-cells {
    flex-direction: row;
    width: calc(12px * 10 + 2px * 10) /* calc(width * 10 + margin(left + right) * 10 + padding(left + right)) */ 
  }

  .ex-dropdown-alignments {
    flex-direction: column;
  }

  .ex-dropdown-listItem {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .ex-dropdown-baloon {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .ex-grid-button {
    width: 12px;
    height: 11px;
    border: none;
    cursor: pointer;
    margin: 1px;
    border: 1px solid #ccced1;
    padding: calc( 0.6em *0.3);
  }

  .ex-grid-button-hover {
    background: #cae1fc;
    border-color: hsl(218,81.8%,56.9%);
  }

  .ex-image-wrapper {
    clear: both;
    display: table;
    max-width: 100%;
  }

  .ex-image-wrapper img {
    width: 100%;
  }

  .ex-image-block-middle {
    margin: 0.9em auto;
  }

  .math-tex {
    display: inline;
  }

  .baloon-menu {
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);
  }

  .ex-direita{
    margin-right: 0;
    margin-left: auto;
  }

  .ex-esquerda{
    margin-right: auto;
    margin-left: 0;
  }

  .ex-meio{
    margin-right: auto;
    margin-left: auto;
  }

 .baloon-panel {
    position: relative; 
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.baloon-arrow {
  background-color: transparent;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  margin: 0 auto;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
}

.ex-pequeno{
  width: 300px;
}

.ex-medio{
  width: 400px;
}

.ex-grande{
  width: 700px
}
