
.tiptap {
  box-sizing: border-box;
  padding: 1rem;
  font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
  color: #333 !important;
  font-size: 14px;
  line-height: 1.3em;
}

.tiptap blockquote {
  border-left: 3px solid rgba(13, 13, 13, 0.1);
  padding-left: 1rem;
}

 table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  max-width: 600px;
}

 td,
 th {
  min-width: 1em;
  border: 2px solid #ced4da;
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

 th {
  font-weight: bold;
  text-align: left;
  background-color: #f1f3f5;
}

 .selectedCell:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}

 .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: -2px;
  width: 4px;
  background-color: #adf;
  pointer-events: none;
}

 p {
  margin: 0;
}

  .tableWrapper {
    overflow-x: auto;
    margin: 0.9em auto;
    display: table;
  }

  .ex-toolbar-editor , .ex-toolbar-items {
    display: flex;
    background-color: #fff;
  }

  .ex-toolbar-editor {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #ccced1;
    padding: 0 calc(0.6em * 0.5);
  }

  .ex-toolbar-items {
    align-items: center;
  }

  .tiptap-widget:hover {
    outline-color: #ffc83d;
  }

  .tiptap-widget:hover > .ex-bolinha{
    display: block;
  }

  .ex-selected {
    outline-color: hsl(218,81.8%,56.9%)!important;
  }

  .tiptap-widget {
    position: relative;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 3px;
    transition: outline-color 200ms ease;
  }

  .ex-toolbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(0.6em * 0.3);
    margin-top: calc(0.6em * 0.5);
    margin-bottom: calc(0.6em * 0.5);
    margin-right: calc(0.6em * 0.5);
    background: transparent;
    transition: box-shadow .2s ease-in-out,border .2s;
    border: 1px solid transparent;
    border-radius: 5px;
  }

  .ex-mr-0 {
    margin-right: 0px;
  }

  .ex-button-active {
    color: hsl(218,81.8%,56.9%);;
    background-color: #cae1fc;
  }

  .ex-hidden {
    display: none!important;
  }

  .ex-toolbar-button:not(.ex-bolinha):hover {
    background: #f0f0f0;
}

  .ex-toolbar-button svg {
    width: 20px;
    height: 20px;
  }

  .ex-bolinha svg {
    width: 15px;
    height: 15px;
    color: #fff;
    margin: -1px -1px;
}

  
  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  .editor-shell {
    margin: 20px auto;
    border-radius: 2px;
    max-width: 1100px;
    color: #000;
    position: relative;
    line-height: 1.7;
    font-weight: 400;
  }

  .editor-scroller {
    height: 200px;
    border: 0;
    position: relative;
    outline: 0;
    z-index: 0;
    overflow-y: auto;
    resize: vertical;
    border: 1px solid #ccced1;
    border-top: 0px;
    padding: calc(2 * calc(0.6em * 1.5));
    background: #fafafa;;
  }

  .editor-shell {
    background: #fff;
    position: relative;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
  }

  .editor-main {
    background: #fff;
    border-color: #ccced1;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
  }

  .ProseMirror {
    flex: 1;
    padding: 1cm 1cm 1cm;
  }
  .ex-dropdown-container {
    position: relative;
  }
  .ex-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
    padding: 10px;
    z-index: 1;
    padding-bottom: 20px;
  }

  .ex-dropdown-content {
    display: flex;
   flex-wrap: wrap;
  }

  .ex-dropdownList-content {
    display: flex;
    flex-wrap: nowrap;
  }


  .ex-dropdown-table-cells {
    flex-direction: row;
    width: calc(12px * 10 + 2px * 10) /* calc(width * 10 + margin(left + right) * 10 + padding(left + right)) */ 
  }

  .ex-dropdown-alignments {
    flex-direction: column;
  }

  .ex-dropdown-listItem {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .ex-dropdown-balloonTable {
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 3 !important;
    min-width: 240px;
  }

  .ex-dropdown-balloonModal{
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 3 !important;
    width: 360px;
  }
 
  .ex-dropdown-baloon {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .ex-grid-button {
    width: 12px;
    height: 11px;
    border: none;
    cursor: pointer;
    margin: 1px;
    border: 1px solid #ccced1;
    padding: calc( 0.6em *0.3);
  }

  .ex-grid-button-hover {
    background: #cae1fc;
    border-color: hsl(218,81.8%,56.9%);
  }

  .ex-image-wrapper {
    clear: both;
    display: table;
    padding: 0.08em;
    max-width: 100%;
  }

  .icon-arrow {
    width: 12px !important;
  }

  .ex-image-wrapper img {
    width: 100%;
  }

  .ex-image-block-middle {
    margin: 0.9em auto;
  }

  .math-tex {
    display: inline;
  }

  .baloon-menu {
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);
  }
  .custom-modal{
      position: absolute;
      display: none;
      top: 0;
      left: 50%;
      transform: translate(-50%,-100%);
  }

  .ex-margin-direita{
    margin-right: 0;
    margin-left: auto;
  }

  .ex-margin-esquerda{
    margin-right: auto;
    margin-left: 0;
  }

  .ex-margin-meio{
    margin-right: auto;
    margin-left: auto;
  }

 .baloon-panel {
    position: relative; 
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.baloon-arrow {
  background-color: transparent;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  margin: 0 auto;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
}

.quadrado {
  width: 10px; 
  height: 10px; 
  background-color: #3779eb; 
  position: absolute; 
  display: none;
}

.canto-superior-esquerdo {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: nwse-resize;
}

.canto-superior-direito {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: nesw-resize;
}

.canto-inferior-esquerdo {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  cursor: nesw-resize;
}

.canto-inferior-direito {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  cursor: nwse-resize;
}

.ex-bloco1{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.ex-bloco2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-top: 10px;
}

.ex-bloco3{
  display: flex;
  align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.ex-bloco4{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ex-bloco5{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; 
  width: 100%;
  margin-top: 10px;
  /* gap: 117px; */
}

.ex-bloco6{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 32%;
  gap: 5px;
}

.ex-bloco7{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-left: 20px;
}

.ex-bloco8{
  display: flex;
}

.ex-labels{
  min-width: 100%;
    width: 100%;
}


.ex-colorInput{
  margin-left: 14.4px;
  flex-grow: 1;
  min-width: auto;
}
.ex-colorInput2{
  flex-grow: 1;
  min-width: auto;
}

.ex-largura1{
  width: 73px;
  margin-left: 14.4px;
}

.ex-inputDimensoes{
  min-width: 100%;
  width: 0;
}

.ex-inputDimensoesLargura{
  min-width: 100%;
  width: 0;
}

.ex-botaoSalvar,
.ex-botaoCancela {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
}

.ex-botaoSalvar:hover,
.ex-botaoCancela:hover {
  text-decoration: underline; 
}

.ex-icone-confirmacao::after {
  content: '\2714';
    font-family: Arial, sans-serif;
    color: green;
    font-size: 28px;
    right: 72px;
    position: relative;
    top: 3px;
}

.ex-icone-cancelamento::after {
  content: '\2716'; 
  font-family: Arial, sans-serif; 
  color: red;
  font-size: 24px;
    right: 91px;
    position: relative;
    top: 3px;
}

.ex-indicator {
  position: absolute;
  top: 135px;
  left: 65px;
  right: auto;
}


.ex-bolinha {
  width: 18px;
  height: 18px;
  background-color: #ffc83d; 
  border-radius: 50%; 
  position: absolute; 
  cursor: pointer; 
  z-index: 0; 
  display: none;
}
  

.ex-bolinha-cima {
  top: -12px;
  left: 4%;
  transform: translateX(-50%);
}


.ex-bolinha-baixo {
  bottom: -12px;
  left: 96%;
  transform: translateX(-50%);
}
