
:root {
  --active-blue: hsl(218,81.8%,56.9%);
  --border-gray: #ccced1;
  --spacing-sm: calc( 0.6em * 0.3);
  --spacing-md: calc( 0.6em * 0.5);
  --spacing-lg: calc( 0.6em * 1);
  --color-success: #008a00;
  --color-cancel: #db3700;
  --color-base-text: #333;
}

.ProseMirror {
  flex: 1;
  padding: 1cm 1cm 1cm;
  background: #fff;
  text-align: left;
  /* overflow: auto;
  overflow-y: hidden; */
}

.ProseMirror {
  word-wrap: break-word;
  white-space: normal!important;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}

.tiptap {
  box-sizing: border-box;
  border: 1px hsl(0, 0%, 82.7%) solid;
}

.tiptap {
  font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
  color: #333 !important;
  font-size: 14px;
  line-height: 1.3em; 
}

.tiptap blockquote {
  border-left: 3px solid rgba(13, 13, 13, 0.1);
  padding-left: 1rem;
}

.tiptap p {
  margin: 0 0 9px;
}

 table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  max-width: 600px;
}

 td,
 th {
  min-width: 1em;
  border: 2px solid #ced4da;
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

 th {
  font-weight: bold;
  text-align: left;
  background-color: #f1f3f5;
}

 .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}

 .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: -2px;
  width: 4px;
  background-color: #adf;
  pointer-events: none;
}

 p {
  margin: 0;
}

  .tableWrapper {
    overflow-x: auto;
    margin: 0.9em auto;
    display: table;
  }

  .ex-toolbar-editor , .ex-toolbar-items {
    display: flex;
    background-color: #fff;
  }

  .ex-toolbar-editor {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--border-gray);
    padding: 0 calc(0.6em * 0.5);
  }

  .ex-toolbar-items {
    align-items: center;
    border-radius: 5px;
  }

  .tiptap-widget:hover {
    outline-color: #ffc83d;
    cursor: pointer
  }

  .tiptap-widget-isEditing {
    cursor: text;
  }

  .tiptap-widget:hover > .ex-bolinha {
    display: block;
  }

  .tiptap-widget:hover > .ex-getTable{
    display: block;
  }

  .ex-selected {
    outline-color: var(--active-blue)!important;
  }

  .tiptap-widget {
    position: relative;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 3px;
    user-select: auto;
    /* transition: outline-color 200ms ease; */
  }

  .ex-toolbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-sm);
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    margin-right: var(--spacing-md);
    background: transparent;
    transition: box-shadow .2s ease-in-out,border .2s;
    border: 1px solid transparent;
    border-radius: 5px;
  }

  .ex-mr-0 {
    margin-right: 0px;
  }

  .ex-button-active {
    color: var(--active-blue);;
    background-color: #cae1fc;
  }

  .ex-hidden {
    display: none!important;
  }

  .ex-toolbar-button:not(.ex-bolinha):not(.ex-pegaTabela):hover {
    background: #f0f0f0;
}

  .ex-toolbar-separator {
    display: inline-block;
    align-self: stretch;
    background: var( --border-gray);
    margin-bottom: var(--spacing-sm);
    margin-top: var(--spacing-sm);
    min-width: 1px;
    width: 1px;
    margin-right: var(--spacing-sm)
  }

  .ex-toolbar-button svg {
    width: 20px;
    height: 20px;
  }

  .ex-bolinha svg {
    width: 15px;
    height: 15px;
    color: #fff;
    transform: translate(-1px, -1px);
}

  .ex-getTable svg {
    width: 21px;
    height: 24px;
    color: #fff;
    margin: -7px -2px;
    padding-right: 1px;

  }
  
  .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  .editor-shell {
    /* margin: 20px auto; */
    border-radius: 2px;
    max-width: 1100px;
    color: #000;
    position: relative;
    line-height: 1.7;
    font-weight: 400;
  }

  .editor-scroller {
    height: 200px;
    border: 0;
    position: relative;
    outline: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    resize: vertical;
    border: 1px solid var(--border-gray);
    border-top: 0px;
    padding: calc(2 * calc(0.6em * 1.5));
    background: #fafafa;
  }

  
  .editor-scroller::-webkit-scrollbar {
    width: 8px;
    scrollbar-width: thin;
  }

  /* Track */
  .editor-scroller::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
    
  /* Handle */
  .editor-scroller::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }

  /* Handle on hover */
  .editor-scroller::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .editor-shell {
    background: #fff;
    position: relative;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
  }

  .editor-main {
    position: relative;
    height: 100%;
    width: 24.8cm;
    background: #fff;
    border-color: var(--border-gray);
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .ex-dropdown-container {
    position: relative;
  }

  .ex-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15);
    padding: 10px;
    z-index: 1;
    padding-bottom: 20px;
  }

  .ex-dropdown-content {
    display: flex;
   flex-wrap: wrap;
  }

  .ex-dropdownList-content {
    display: flex;
    flex-wrap: nowrap;
  }

  .ex-dropdown-table-cells {
    flex-direction: row;
    width: calc(12px * 10 + 2px * 10) /* calc(width * 10 + margin(left + right) * 10 + padding(left + right)) */ 
  }

  .ex-dropdown-alignments {
    flex-direction: column;
  }

  .ex-dropdown-listItem {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .ex-dropdown-balloonTable {
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 3 !important;
    min-width: 240px;
  }

  .ex-dropdown-balloonModal{
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 3 !important;
    width: 360px;
  }
 
  .ex-dropdown-baloon {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .ex-grid-button {
    width: 12px;
    height: 11px;
    border: none;
    cursor: pointer;
    margin: 1px;
    border: 1px solid var(--border-gray);
    padding: calc( 0.6em *0.3);
  }

  .ex-grid-button-hover {
    background: #cae1fc;
    border-color: var(--active-blue);
  }

  .ex-image-wrapper {
    clear: both;
    display: table;
    padding: 0.08em;
    max-width: 100%;
  }

  .icon-arrow {
    width: 12px !important;
  }

  .ex-image-wrapper img {
    width: 100%;
  }

  .ex-image-block-middle {
    margin: 0.9em auto;
  }

  .ex-direita{
    margin-right: 0;
    margin-left: auto;
  }

  .ex-esquerda{
    margin-right: auto;
    margin-left: 0;
  }

  .ex-meio{
    margin-right: auto;
    margin-left: auto;
  }

  .math-tex {
    display: inline;
  }

  .baloon-menu {
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);
  }
  .custom-modal{
      position: absolute;
      display: none;
      top: 0;
      left: 50%;
      transform: translate(-50%,-100%);
  }

  .ex-margin-direita{
    margin-right: 0;
    margin-left: auto;
  }

  .ex-margin-esquerda{
    margin-right: auto;
    margin-left: 0;
  }

  .ex-margin-meio{
    margin-right: auto;
    margin-left: auto;
  }

.balloon-menu {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1;
  left: 50%;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.3);
}

.balloon-menu, .balloon-panel {
  border-radius: 5px;
}

.balloon-panel {
  position: relative; 
  min-height: 30px;
  padding: 1px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);

  align-items: center;
}

.balloon-arrow-up::before {
  content: "";
  position: absolute;
  bottom: 100%;
  border-width: 0px 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.balloon-arrow-down::after {
  content: "";
  position: absolute;
  top: 100%;
  border-width: 10px 10px 0px 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.balloon-arrow-float-left::before, .balloon-arrow-top-left::after, .balloon-arrow-bottom-left::before {
  left: 0%;
}

.balloon-arrow-float-right::before, .balloon-arrow-top-right::after, .balloon-arrow-bottom-right::before{
  right: 0%;
}

.balloon-arrow-float-center::after,
.balloon-arrow-float-center::before,
.balloon-arrow-top-center::after,
.balloon-arrow-bottom-center::before {
  left: 50%;
  transform: translateX(-50%);
}

.balloon-menu-bottom-left{
  bottom: 0;
  transform: translate(calc(0% - 10px), calc(100% + 10px));
}

/* .balloon-menu-middle{
  bottom: 0;
  transform: translate(-50%, calc(100% + 10px));
} */

.balloon-menu-bottom-right{
  bottom: 0;
  transform: translate(calc(-100% + 10px), calc(100% + 10px));
}

.balloon-menu-bottom-center{
  bottom: 0;
  transform: translate(-50%, calc(100% + 10px));
}

.balloon-menu-top-center {
  top: 0;
  transform: translate(-50%, calc(-100% - 10px));
}

.balloon-menu-float-center {
  transform: translateX(-50%);
}

.balloon-menu-float-left {
  transform: translateX(-10px);
}

.balloon-menu-float-right {
  transform: translateX(calc(-100% + 10px));
}

.ex-hidden {
  display: none;
}

.quadrado {
  width: 10px; 
  height: 10px; 
  background-color: #3779eb; 
  position: absolute; 
  display: block;
}

.canto-superior-esquerdo {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: nwse-resize;
}

.canto-superior-direito {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: nesw-resize;
}

.canto-inferior-esquerdo {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  cursor: nesw-resize;
}

.canto-inferior-direito {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  cursor: nwse-resize;
}

.ex-bloco1{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.ex-bloco2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-top: 10px;
}

.ex-bloco3{
  display: flex;
  align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.ex-bloco4{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ex-bloco5{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; 
  width: 100%;
  margin-top: 10px;
  /* gap: 117px; */
}

.ex-bloco6{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 32%;
  gap: 5px;
}

.ex-bloco7{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-left: 20px;
}

.ex-bloco8{
  display: flex;
}

.ex-labels{
  min-width: 100%;
    width: 100%;
}


.ex-colorInput{
  margin-left: 14.4px;
  flex-grow: 1;
  min-width: auto;
}
.ex-colorInput2{
  flex-grow: 1;
  min-width: auto;
}

.ex-largura1{
  width: 73px;
  margin-left: 14.4px;
}

.ex-inputDimensoes{
  min-width: 100%;
  width: 0;
  height: 22px;
}

.ex-inputDimensoesLargura{
  min-width: 100%;
  width: 0;
}

.ex-botaoSalvar,
.ex-botaoCancela {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  color: #000 !important;
}

.ex-icone-confirmacao::after {
  content: '\2714';
    font-family: Arial, sans-serif;
    color: green;
    font-size: 28px;
    right: 72px;
    position: relative;
    top: 3px;
}

.ex-icone-cancelamento::after {
  content: '\2716'; 
  font-family: Arial, sans-serif; 
  color: red;
  font-size: 24px;
    right: 91px;
    position: relative;
    top: 3px;
}

.ex-indicator {
  position: absolute;
  top: 135px;
  left: 65px;
  right: auto;
}


.ex-bolinha {
  width: 19px;
  height: 19px;
  background-color: hsl(218,81.8%,56.9%); 
  border-radius: 50%; 
  position: absolute; 
  cursor: pointer; 
  z-index: 0; 
  display: none;
}

.ex-getTable{
width: 20px;
height: 19px;
background-color: hsl(218,81.8%,56.9%); 
border-radius: 50%; 
position: absolute; 
cursor: pointer; 
z-index: 0; 
display: none;
}


.ex-pegaTabela {
  width: 26px;
  height: 23px;
  background-color: hsl(218,81.8%,56.9%);
  position: absolute;
  cursor: pointer;
  border-radius: 1px;
  z-index: 0;
  display: none;
  top: 0;
  transform: translate(-3px,calc(-50% - 15.5px));
}

.tableWrapper:not(.ex-selected){
  .ex-pegaTabela{
    background-color: #ffc83d;
  }
  .ex-bolinha{
    background-color: #ffc83d;
  }
}

.tiptap-widget > table {
  cursor: text
}

.ex-bolinha-cima {
  top: 0;
  transform: translate(0,calc(-50% - 1.5px));
  left: 9%;
  margin: 0 0;
}


.ex-bolinha-baixo {
  transform: translate(543px,calc(-50% - 0.5px));
  margin: 0 0;
}


.ProseMirror .latex-editor {
  border-radius: .25rem;
  background: #202020;
  color: #fff;
  caret-color: white;
  font-family: monospace;
  padding: .2rem .5rem;
  min-width: 30px;
}

.ProseMirror .latex-editor:hover {
  cursor: text;
}

.math-tex-error {
  color: red;
}

 .math-tex {
   display: inline-block;
 }

/*  .math-tex > .katex { white-space: normal }
.katex-html > .base { margin: 0.25em 0 }
.math-tex { margin: 0.5em 0; } */

 .math-tex .katex {
  white-space: nowrap;
}

.latex .katex {
  white-space: nowrap;
}

.latex-editting-container {
  display: flex;
  margin: 10px;
  padding: 1px;
  flex-direction: column;
}

.latex-editting-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.latex-editting-input > input {
  margin: 0 var(--spacing-sm);
  outline: none;
  border: 1px solid var(--active-blue);
}

.latex-input-text {
  min-width: 250px;
  padding: var(--spacing-lg);
  line-height: 20px;
}

.latex-editting-preview {
  display: flex;
  min-height: 30px;
  padding: var(--spacing-md);
  margin: var(--spacing-md);
  border: 1px solid;
  background-color: rgb(244, 244, 244);
}

.latex-editting-footer {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  justify-content: space-around;
}

.latex-editting-displayCheckbox {
  display: flex;
  justify-items: start;
  margin-left: var(--spacing-sm);
  margin-top: var(--spacing-sm);
}